<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigation-label">Navigation Menu</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="pcoded active pcoded-trigger">
                    <a (click)="dash()" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pcoded">
                    <a (click)="contacts()" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i
            ></span>
                        <span class="pcoded-mtext">Contacts</span>
                        <span class="pcoded-badge label label-warning">+254..</span>
                    </a>
                </li>
                <li class="">
                    <a (click)="mail()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
              <i class="feather icon-menu"></i>
            </span>
                        <span class="pcoded-mtext">Send Mail</span>
                        <span class="pcoded-badge label label-primary">Single</span>
                    </a>
                </li>
                <li class="pcoded">
                    <a (click)="mails()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
              <i class="feather icon-layers"></i>
            </span>
                        <span class="pcoded-mtext">Multi Emails</span>
                        <span class="pcoded-badge label label-danger">1000+</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>